<!doctype html>

<head>
  <meta name="viewport" content="with=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>WackDonald's Login</title>
  <link rel="stylesheet" href="home.page.scss">
  <link rel="icon" href="images/favicon.ico">
  <script src="https://kit.fontawesome.com/6cff64fb2c.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="center">
  <h1>Login</h1>
  <img src="assets/mcdlogo.png" class="logo">
  <h2>WackDonald's</h2>
  <form method="post" (ngSubmit)="login()" [formGroup]="loginForm">
    <div class="txt_field">
      <input type="text" required id="usernameText" autocomplete="off" [(ngModel)]="username">
      <label>Username</label>
    </div>
    <div class="txt_field">
      <input type="password" required id="passwordText" [(ngModel)]="password">
      <label>Password</label>
    </div>
    <div class="pass" (click)="myFunction()">Forgot Password?
      <span class="popuptext" id="myPopup">Contact your manager or a technician via +4511223344</span>
    </div>
    <input type="submit" value="Login" (click)="login()">
  </form>



</div>
</body>

