<!doctype html>

<head>
  <meta name="viewport" content="with=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>WackDonald's Orders</title>
  <link rel="icon" href="images/favicon.ico">
  <script src="https://kit.fontawesome.com/6cff64fb2c.js" crossorigin="anonymous"></script>



</head>
<body>
<div class="header">
  <div class="inner_header">
    <div class="logocontainer">
      <img src="assets/mcdlogo.png" alt="">
    </div>
    <ul class="navigation">
      <a (click)="openUsers()"><li>Users</li></a>
      <a (click)="openAdmin()"><li>Main Screen</li></a>
      <a (click)="logout()"><li>Log out</li></a>
    </ul>
  </div>
</div>
<h1 class="">Receipts Of Orders</h1>
<input type="text" id="searchInput" placeholder="Search.." [(ngModel)]="searchQuery" (input)="searchItems()">
<div id="container">
  <div class="hisContainer">
    <div class="recieptContainer">
      <ul id="hisList">
        <div *ngFor="let item of orders; let i = index" (click)="openModal()">
          <li>{{ item.name }}</li>
          <p>{{ item.time }}</p>
        </div>
      </ul>
    </div>
  </div>
</div>
</body>

