<!doctype html>

<head>
  <meta name="viewport" content="with=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>WackDonald's Users</title>
  <link rel="icon" href="images/favicon.ico">
  <script src="https://kit.fontawesome.com/6cff64fb2c.js" crossorigin="anonymous"></script>



</head>
<body>
<div class="container">

  <div class="card-container">

    <div class="front">
      <div class="image">
        <img src="assets/chip.png" alt="">
        <img src="assets/visa.png" alt="">
      </div>
      <div class="card-number-box">{{ stringWithSpaces }}</div>
      <div class="flexbox">
        <div class="box">
          <span>card holder</span>
          <div class="card-holder-name">{{ holderName }}</div>
        </div>
        <div class="box">
          <span>expires</span>
          <div class="expiration">
            <span class="exp-month">{{expM}}</span>
            <span class="exp-year">{{expY}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="back">
      <div class="stripe"></div>
      <div class="box">
        <span>CVV</span>
        <div class="cvv-box"><span>{{ cvvNmb }}</span></div>

        <img src="assets/visa.png" alt="">
      </div>
    </div>

  </div>

  <form action="">
    <div class="inputBox">
      <span>card number</span>
      <input type="number" id="numericInput" pattern="[0-9]*" class="card-number-input" maxlength="16" (input)="onInputChangeNumber($event)">
    </div>
    <div class="inputBox">
      <span>card holder</span>
      <input type="text" class="card-holder-input" id="cardHolderInput" (input)="onInputChangeName($event)">
    </div>
    <div class="flexbox">
      <div class="inputBox">
        <span>expiration mm</span>
        <select name="" id="monthBox" class="month-input" (change)="onSelectM($event)">
          <option value="month" selected disabled>month</option>
          <option value="01">01</option>
          <option value="02">02</option>
          <option value="03">03</option>
          <option value="04">04</option>
          <option value="05">05</option>
          <option value="06">06</option>
          <option value="07">07</option>
          <option value="08">08</option>
          <option value="09">09</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
      </div>
      <div class="inputBox">
        <span>expiration yy</span>
        <select name="" id="yearBox" class="year-input" (change)="onSelectY($event)">
          <option value="year" selected disabled>year</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
          <option value="2025">2025</option>
          <option value="2026">2026</option>
          <option value="2027">2027</option>
          <option value="2028">2028</option>
          <option value="2029">2029</option>
          <option value="2030">2030</option>
          <option value="2031">2031</option>
          <option value="2032">2032</option>
          <option value="2033">2033</option>
          <option value="2034">2034</option>
          <option value="2035">2035</option>
          <option value="2036">2036</option>
          <option value="2037">2037</option>
          <option value="2038">2038</option>
          <option value="2039">2039</option>
          <option value="2040">2040</option>
          <option value="2041">2041</option>
        </select>
      </div>
      <div class="inputBox">
        <span>cvv</span>
        <input type="number" id="cvvInputt" pattern="[0-9]*" maxlength="4" class="cvv-input" (input)="onInputChangeCVV($event)" (mouseover)="handleMouseOver()" (mouseleave)="handleMouseOut()">
      </div>
    </div>
    <input type="submit" value="submit" class="submit-btn" onclick="goBackToUser(event)">
  </form>

</div>
</body>
