<!doctype html>

<head>
  <meta name="viewport" content="with=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>WackDonald's Users</title>

  <link rel="icon" href="assets/favicon.ico">
  <script src="https://kit.fontawesome.com/6cff64fb2c.js" crossorigin="anonymous"></script>



</head>
<body>
<div class="header">
  <div class="inner_header">
    <div class="logocontainer">
      <img src="assets/mcdlogo.png" alt="">
    </div>
    <ul class="navigation">
      <a (click)="openHistory()"><li>History</li></a>
      <a (click)="openAdmin()"><li>Main Screen</li></a>
      <a (click)="logout()"><li>Log out</li></a>
    </ul>
  </div>
</div>
<div class="footer">
  <div class="inner_footer">
    <ul class="navigation_footer">
      <a ><li (click)="openUsers()">Users</li></a>
      <a><li (click)="openEmployees()">Employees</li></a>
    </ul>
  </div>
</div>
<div class="content">
  <h1 id="title">Users</h1>
  <input type="text" class="searchbar" id="searchInput" placeholder="Search.." [(ngModel)]="searchQuery" (input)="searchItems()">
  <div id="container">
    <div class="hisContainer">
      <div class="recieptContainer">
        <ul id="hisList">
          <div *ngFor="let item of state.users; let i = index" (click)="openEditModal(item.userId)">
            <li>{{ item.username }}</li>
            <p>{{ item.role }}</p>
          </div>
        </ul>
      </div>
    </div>
    <button class="add-event" (click)="openNew()">
      <i class="fas fa-plus"></i>
    </button>
  </div>
</div>


</body>

