<!doctype html>

<head>
  <meta name="viewport" content="with=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>WackDonald's Orders</title>

  <link rel="icon" href="assets/favicon.ico">
  <script src="https://kit.fontawesome.com/6cff64fb2c.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="header">
  <div class="inner_header">
    <div class="logocontainer">
      <img src="assets/mcdlogo.png" alt="">
    </div>

    <ul class="navigation">
      <a (click)="logout()"><li>Log out</li></a>
    </ul>
    <div class="clock">
      <span id="hrs">00</span>
      <span>:</span>
      <span id="min">00</span>
      <span>:</span>
      <span id="sec">00</span>
    </div>

  </div>

</div>
<div id="orderContainer">


</div>
<div>
  <button class="addbtn" (click)="addOrder1()">+</button>
</div>
</body>

