<!doctype html>

<head>
  <meta name="viewport" content="with=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>WackDonald's Orders</title>

  <link rel="icon" href="assets/favicon.ico">
  <script src="https://kit.fontawesome.com/6cff64fb2c.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="header">
  <div class="inner_header">
    <div class="logocontainer">
      <img src="assets/mcdlogo.png" alt="">
    </div>

    <ul class="navigation">
      <a (click)="logout()"><li>Log out</li></a>
    </ul>
    <div class="clock">
      <span id="hrs">00</span>
      <span>:</span>
      <span id="min">00</span>
      <span>:</span>
      <span id="sec">00</span>
    </div>

  </div>

</div>
<div id="orderContainer">
  <div *ngFor="let order of state.orders" class="order" (click)="updateOrder(order.orderId)">
    <button>✔️</button>
    <div class="orderHeader">
      <h1>Order: {{ order.orderTime }}</h1>
    </div>
    <ul>
      <li>{{ order.orderItemArrayId }}</li>
    </ul>
  </div>
  </div>
</body>

